<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../static/vue-resource-1.3.4.js"></script>
    <script src="../static/vue-router.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7.css">
    <style>

    </style>
    <!--全文说明
    computed属性来实现拼接及其3个特点

    -->
</head>
<body>
<div id="app">
    <input type="text" v-model="firstname"
    >+
    <input type="text" v-model="lastname">=
    <input type="text" v-model="fullname">

    <p>{{ fullname}}</p>> 再次引用fullname 不会对计算属性求值；
    <p>{{ fullname}}</p>>
    <p>{{ fullname}}</p>>
</div>

<script>
    const app = new Vue({
        el:"#app",
        data:{
            firstname: '',
            lastname: '',

        },
        methods:{},
        computed: { //在 computed 中，可以定义一些属性，
            //这些属性 叫计算属性，本质就是一个方法；
            //只不过，我们在使用 这些计算属性的时候，是把 它们
            //的名称，直接当做 属性来使用；并不会把计算属性 当做
            //方法去调用；
            'fullname': function () { //这属性的值是个function;
                //你在外界引用了这个 fullname 相当于 你得到 return;
                //现在 v-model 就在引用 这个 fullname;
                // 注意： 计算属性，在引用时，一定不要加小括号；
                // 注意： 只要 计算属性，这个 function 内部，
                // 所用到的 任何 data 中的数据发生了变化，就会
                //立即  重新计算 这个 计算属性的值；
                // 注意3： 计算属性的求值结果，会被缓存起来
                // 方便下次直接使用；如果计算属性方法中，所用到的
                // 任何数据，都没有发生过变化，则不会重新对
                // 计算属性求值；
                // 注意4： 计算属性的 function 必须return出一个值
                return this.firstname + '--' +
                        this.lastname
            }


        }

    });

</script>

</body>
</html>