<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div id="app">
    <p>{{list[0]}}</p>
    v-for
    <!--<p v-for="item in list">{{item}}</p>-->
    <!--<p v-for="(item,i) in list">索引值是{{i}}-&#45;&#45;每一项是{{item}}</p>-->
    <!--复杂数组-->
    <p v-for="(item,i) in list2">索引值是{{i}}---每一项是{{item.id}}--{{item.name}}</p>

    遍历对象
    注意：在遍历对象时，除了有val,key ,在第三位置还有索引；
    <p v-for="(val,key,i) in user">索引值是{{i}}---每一项是{{key}}--{{val}}</p>

    迭代数字
    <p v-for="count in 10">这是第{{count}}次循环</p>


    in后面可以放 普通数组，对象数组，对象，还可以放数字；//@
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            list :[1,2,3,4,5,6],
            list2:[
                {id:1,name:'zs1'},{id:2,name:'zs2'},{id:3,name:'zs3'},{id:4,name:'zs4'}
            ],
            user:{
                id:1,
                name:'打呗',
                gender:'男'
            }
        },
        methods:{}

    });

</script>

</body>
</html>