<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div id="app">
    <div>
        <label>Id:
            <input type="text" v-model="id">
        </label>
        <label>name:
            <input type="text" v-model="name">
        </label>
        <input type="button" value="添加" @click="add2"/>
    </div>
    <p v-for="(item,i) in list" :key="item.id">
        <input type="checkbox">
        索引值是{{i}}---每一项id是{{item.id}}--{{item.name}}</p>


</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            id:'',
            name:"",
            list:[
                {id:1,name:'李斯'},
                {id:2,name:'嬴政'},
                {id:3,name:'赵高'},
                {id:4,name:'韩非'},
                {id:5,name:'荀子'}
            ]
        },
        methods:{
            add:function () {
                this.list.push({id:this.id,name:this.name})
            },
            add2:function () {
                this.list.unshift({id:this.id,name:this.name})
                // unshift 在头位置追加
            }
        }

    });

</script>

</body>
</html>