<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="static/vue-resource-1.3.4.js"></script>
    <link rel="stylesheet" href="./static/bootstrap-3.3.7.css">
    <!--./ 是当前项目-->
    <!--H:\allI-JAVA\ideaworkspace\vue-demo\vue01\static\bootstrap-3.3.7.css-->
</head>
<body>
<div id="app2">
    <h3>{{date| dateFormat}}</h3>
</div>
<div id="app" class="table table-border">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <!--<span>-->
                <!--Id:-->
                <!--<input type="text" class="form-control" v-model="id">-->
            <!--</span>-->
            <span>
                Name:
                <input type="text" class="form-control" v-model="name" @keyup.enter="add">
            </span>
            <input type="button" value="添加" class="btn btn-primary" @click="add">
            <span>
                搜索关键字:
                <input type="text" class="form-control" v-model="keywords">
            </span>
        </div>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in search2(keywords)" :key="item.id">
            <td>{{item.id}}</td>
            <td v-text="item.name"></td>
            <td>{{item.ctime | dateFormat('yyyy-mm-dd')}}</td>
            <td>
                <a href="" @click.prevent="del3(item.id)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>



    Vue.filter('dateFormat',function (data,pattern="") {  //es6形参的默认写法；
        var dt = new Date(data);
        var y = dt.getFullYear();
        var m = dt.getMonth()+1;
        var d = dt.getDate();
        if( pattern.toLowerCase() === 'yyyy-mm-dd'){
            return `${y}-${m}-${d}`;
        }else {
            var h = dt.getHours();
            var m = dt.getMinutes();
            var s = dt.getSeconds();
            return `${y}-${m}-${d} ${h}:${m}:${s}`;
        }

    })

    const app2 = new Vue({
        el:'#app2',
        data:{
            date:new Date()
        },
        methods:{},
        filters:{
            dateFormat:function (data,pattern="") {
                var dt = new Date(data);
                var y = dt.getFullYear();
                var m = dt.getMonth()+1;
                var d = dt.getDate();
                if( pattern.toLowerCase() === 'yyyy-mm-dd'){
                    return `${y}-${m}-${d}`;
                }else {
                    var h = dt.getHours();
                    var m = dt.getMinutes();
                    var s = dt.getSeconds();
                    return `${y}-${m}-${d} ${h}:${m}:${s}`;
                }
            }
        }

    })
    const app = new Vue({
        el:"#app",
        data:{
            id:'',
            name:'',
            keywords:'',
            list:[
                {id:1,name:'奔驰',ctime:new Date()},
                {id:2,name:'宝马',ctime:new Date()}
            ]
        },
        methods:{
            add:function () {
//                console.log("ok");
                var car = {id: this.id,name:this.name,ctime:new Date()}
                this.list.push(car)
                this.id = this.name = ''
            },
            del:function (id) {
                this.list.some(
                    (item,i) => {
                        if(item.id == id){//虽然报红色，但是运行ok
                        alert(id+'---'+item.id+'-----'+i);
                        this.list.splice(i,1);
                        return true;

                     }
                    }//虽然报红色，但是运行ok
                )},
            del2:function (id) {
//                ES3语法
                var that = this;
                this.list.some(function (item,i) {
                    if(item.id == id){
                        alert(id+'---'+item.id+'-----'+i);
//                        this.list.splice(i,1);  //这里会报错，因为this 不再是vue实例；
                        that.list.splice(i,1);
                        return true;
                    }
                    
                })

            },
            del3:function (id) {
             var indexs =   this.list.findIndex(item =>{
                    if(item.id == id)
                {
                    alert(id + '---' + item.id + '-----');
                    return true;
                }
                });
             alert(indexs);
             this.list.splice(indexs,1)
            },

            search:function (keywords) {
                var newList = [];
                this.list.forEach(
                    item => {
                        if(item.name.indexOf(keywords) != -1){
                            newList.push(item);
                }
                }
                );
                return newList;
            },

            search2:function (keywords) {
                var newList = this.list.filter(
                    item => {
                        if(item.name.includes(keywords)){
                            return item;
                }
                }
                );
                return newList;
            },
            created:function() { // 当 vm 实例 的 data 和 methods 初始化完毕后，vm实例会自动执行created 这个生命周期函数
                this.getAllList()
            },
            getAllList() { // 获取所有的品牌列表
                    // 分析：
                    // 1. 由于已经导入了 Vue-resource这个包，所以 ，可以直接通过  this.$http 来发起数据请求
                    // 2. 根据接口API文档，知道，获取列表的时候，应该发起一个 get 请求
                    // 3. this.$http.get('url').then(function(result){})
                    // 4. 当通过 then 指定回调函数之后，在回调函数中，可以拿到数据服务器返回的 result
                    // 5. 先判断 result.status 是否等于0，如果等于0，就成功了，可以 把 result.message 赋值给 this.list ; 如果不等于0，可以弹框提醒，获取数据失败！

                    this.$http.get('api/getprodlist').then(result => {
                        // 注意： 通过 $http 获取到的数据，都在 result.body 中放着
                        var result = result.body
                        if (result.status === 0) {
                        // 成功了
                        this.list = result.message
                    } else {
                        // 失败了
                        alert('获取数据失败！')
                    }
                })
                },
            add:function () {
                this.$http.post('api/addproduct', { name: this.name }, { emulateJSON: true }).then(result => {
                    if (result.body.status === 0) {
                    // 成功了！
                    // 添加完成后，只需要手动，再调用一下 getAllList 就能刷新品牌列表了
                    this.getAllList()
                    // 清空 name
                    this.name = ''
                } else {
                    // 失败了
                    alert('添加失败！')
                }
            })
            },
            
            method:function () {
                
            }

        }



    });
//            del:function (id) {
//                del
//                1. 如何根据id 找到这一项索引
//                2. splice
//







</script>

</body>
</html>